<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div id="adminContainer" class="container fill">
      <h1><%= title %></h1>
      <table id="adminTable">
        <tr>
          <th>Path</th>
          <th>Method</th>
          <th>Count</th>
        </tr>
        <% requests.forEach((req) => { %>
          <tr>
            <td><%= req.path %></td> 
            <td><%= req.method %></td>
            <td><%= req.count %></td>
          </tr>
        <% }); %>
      </table>
    </div>
  </body>
</html>
