<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% requests.forEach((req) => { %>
      <p><%= req.path %> <%= req.method %> <%= req.count %> </p>
    <% }); %>
  </body>
</html>
