<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header') %>
    <link rel='stylesheet' href='/stylesheets/endpoints.css' />
  </head>
  <body>
    <%- include('partials/navbar') %>
    <div id="endpoints-container" class="container fill">
      <h1><%= title %></h1>
      <button id="createBtn" class="goodBtn" onclick="window.location='/create'">Create New Endpoint</button>
      <h2>Edit Endpoints</h2>
      <ul id="endpoints-list">
        <% endpoints.forEach((req) => { %>
          <a href=""><li><%= req.name %></li></a>
        <% }); %>
      </ul>
    </div>
    <%- include('partials/scripts') %>
  </body>
</html>
